__pycache__/
*.egg-info/

prerequisites/
trained_agents/
rl_src/encoding_methods/
rl_src/experiments*
rl_src/plots/
rl_src/plots3/
rl_src/plots2/
rl_src/plots_*
rl_src/models_minimal/
stuff_for_processing/
measurements/
models_rl/
various_experimental_settings/
behavioral_cloning/
.rl_src_experimental/
rl_src/models_paynt_experiments/

.vscode
*.pkl

PAYNT_*
experiments_*
!experiments_robust_*
*.log
.idea

# OSX
.DS_Store

build/

/.vscode
.vscode/launch.json
drone-2-8-1-tanh.txt
*.txt
*.dot

